<!DOCTYPE html>
<html lang = "ja">
  <head>
	<meta charset = "UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	
	<header id = "header">
		<h1><%= title %></h1>
		<div id = "video-area">
			<video id = "video" poster = "images/movie.jpg" webkit-playsinline playsinline muted autoplay loop>
				<source src = "images/movie.mp4" type = "video/mp4">
				<source src = "images/movie.ogv" type = "video/ogv">
				<source src = "images/movie.webm" type = "video/webm">
				<p>動画を再生できる環境ではありません。</p>
			</video>
		</div>
	</header>

    	<p>Welcome to <%= title %></p>
	<div class = "svganimeblock">
	<svg id="logo" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 808.06 67.04"><path d="M614.84,477c-2.24-5.19-3.1-15.91-3.1-25.35s1.51-21.6,3.89-33.62l7,1.36a1.85,1.85,0,0,1-1.87,1.3,138.29,138.29,0,0,0-4.17,31c0,5.48.07,10.95.64,13.61,1.59-4.32,4.47-11.23,6-14.61l3.24,3c-2.38,4.9-7.42,15.84-7.42,19.23a10,10,0,0,0,.72,3.45Zm18.29-42.41c6,.07,12.09.14,18.14-.29-.29-6.19-.5-11.52-.65-16.85l7.28.22c-.08.72-.72,1.29-1.88,1.51.08,4.61.22,9.29.36,14.76A64.43,64.43,0,0,0,670.5,431l.65,5a69.25,69.25,0,0,1-14.55,2.59c.29,8,.65,16.42.86,21a52.92,52.92,0,0,1,14.69,9.14l-2.8,4.61a43.4,43.4,0,0,0-11.67-8.21c-.07,6.12-1.22,13-12,13-8.43,0-14-4-14-10.37,0-7.34,7.42-10.58,14-10.58a25.22,25.22,0,0,1,6.84.93c-.22-4.53-.65-12.09-1-19.15-2.23.15-5.26.22-7.35.22H633.2Zm19.73,28.3a24.48,24.48,0,0,0-7.13-1.3c-4.39,0-9.65,1.58-9.65,6.12,0,4,4.32,6,9.58,6s7.27-2.59,7.27-8.35Z" transform="translate(-611.74 -414.09)"/><path d="M724.14,429.86C718,432,709.88,433.38,702,434c-3,16.49-7.42,32.91-13.18,45L683.67,477c5.9-11.59,10.22-26.5,13-42.84-1.44.07-11.09.14-13.25.07l-.07-4.9c1.15.07,2.66.07,4.32.07.65,0,7.85,0,9.72-.07.72-4.61,1.44-9.65,1.87-14l7.42.72c-.07.79-1.08,1.37-2.09,1.44-.43,3.17-1.15,7.06-1.8,11.45a83.4,83.4,0,0,0,20.16-4Zm19.15,47.95c-2.16.07-4.39.15-6.62.15-6.77,0-13.18-.51-17.07-1.59-5.11-1.44-8.06-5.18-8-9.93.07-3.17,1.44-6.77,4.46-10.45l4.32,1.88c-2.52,2.95-3.74,5.76-3.74,8,0,5.69,5.47,7.13,18.58,7.13,2.66,0,5.4-.07,8.06-.29Zm-28.08-34.7a86,86,0,0,1,26.14-3.68v4.9a81.41,81.41,0,0,0-24.92,3.24Z" transform="translate(-611.74 -414.09)"/><path d="M771.29,429.57a2,2,0,0,1-1.87,1.22c-.57,10.66-1.94,19.73-2.95,21.24h.07c7.06-5.25,18.08-8.85,26.5-8.85,11.09,0,18,5.69,17.86,15.77-.22,13.25-11.16,19.15-39,20.3a21.45,21.45,0,0,0-1.8-4.75c25.13-1.08,35.21-5.18,35.43-15.48.07-6.91-4.76-11.09-13.18-11.09-13.32,0-25.35,8-27.36,11.52l-4.9-2.38c1.44-1.36,4-14.25,4.11-28.37Zm1.23-14c9.79,1.15,20.88,3.38,27.94,6.34l-1.8,5c-7.42-3.16-18.15-5.25-27.65-6.55Z" transform="translate(-611.74 -414.09)"/><path d="M869.07,480.4a218.7,218.7,0,0,0-28.22-26.78c-3.6-2.88-4.9-4.9-4.9-7.49,0-2.09,1.15-4.1,3.82-6.55,6.55-6.05,18.86-17.72,25.77-24.77l6.12,4a2.11,2.11,0,0,1-1.58.72,3.59,3.59,0,0,1-.86-.14c-7.2,6.91-18.44,16.7-24.34,22.25-1.73,1.65-3.1,3.09-3.1,4.24s1.3,2.67,3.82,4.54A238.87,238.87,0,0,1,874,476.59Z" transform="translate(-611.74 -414.09)"/><path d="M915.15,445.12C918,447.35,926,454.77,928,456.64l-3.1,3.82A128.76,128.76,0,0,0,915.15,450v31H910.4V447.79c-3.46,8.13-8.14,16.41-12.39,21.38a32.27,32.27,0,0,0-2.66-4.53c5-5.41,10.8-15.56,14.11-24.41H896.21v-4.69H910.4V423.3c-4.32,1.16-8.86,2.09-13.18,3a13.91,13.91,0,0,0-1.58-3.68c10-1.94,21.53-5.11,27.57-8.49l4.47,3.6a1.11,1.11,0,0,1-.79.29,1.46,1.46,0,0,1-.58-.08A70,70,0,0,1,915.15,422v13.53h12.53v4.69H915.15ZM950.79,450c5.33,9.43,10.52,21.67,12.1,29.45l-4.9,1.72c-.43-2-1.08-4.39-1.87-7-12.17,1.37-24.77,2.74-32.69,3.46a1.14,1.14,0,0,1-1,1l-1.94-5.9,6.91-.5c4.47-15.49,9.36-39.25,12-56.67l6.92,1.51c-.15.58-.87,1-1.8,1.15-2.74,16-7.56,38.09-12,53.57,6.77-.5,14.48-1.22,22.11-1.87a133,133,0,0,0-8.28-18.5Z" transform="translate(-611.74 -414.09)"/><path d="M1031.15,444.91a1.08,1.08,0,0,1-.44.14,1.87,1.87,0,0,1-1.08-.43c-5.47,1.8-13.46,4.75-19.44,7.34.15,1.66.22,3.53.22,5.62,0,2.3-.07,4.9-.22,7.7l-5.25.29c.21-2.59.36-5.9.36-8.71,0-1.08,0-2.09-.08-2.88-8.13,4-14.76,8.78-14.76,13.1s5,6.2,14.91,6.2a162.77,162.77,0,0,0,18.07-.72l.07,4.82c-4.25.43-10.73.58-18.14.58-13.83,0-20-3.32-20-10.66,0-6.34,8.35-12.46,19.16-17.86-.44-4.53-2.45-6.77-5.33-6.77-5.26,0-10.73,3-17.21,10.16-2,2.23-4.83,5-7.92,7.85l-3.53-3.53c7.2-6.34,14-12.39,18.14-26.57l-4,.07h-12V426c4.39.07,9.5.07,12.45.07L990,426a93.28,93.28,0,0,0,1.94-10.3l7.06.87c-.14.72-.72,1.15-1.8,1.29-.5,2.88-1.15,5.4-1.8,8a98.45,98.45,0,0,0,24.77-4.17l.87,4.82c-9,2.81-19.88,3.82-27,4-1.73,5.4-3.53,9.73-5.18,12.17H989a19.21,19.21,0,0,1,11.59-4.68c4.9,0,8,3.53,8.93,9.36,6-2.73,13.68-5.68,19.44-7.92Z" transform="translate(-611.74 -414.09)"/><path d="M1075.28,426c-.07-1.59-.29-9.43-.43-11.23l7.41.28c-.07.58-.57,1.3-1.87,1.52,0,.86,0,1.72.15,9.28,8.85-.28,18.14-.5,23.54-.57v5c-6.12-.15-14.83,0-23.4.28.14,5.62.29,10.81.5,14.77a24.48,24.48,0,0,1,.87,7.56,31.28,31.28,0,0,1-.72,7c-1.87,8.43-8.07,15.84-20.74,20.88a40.44,40.44,0,0,0-3.67-4.1c11-4,16.92-9.94,18.72-16.78h-.07a9,9,0,0,1-7.42,3.82,12.29,12.29,0,0,1-12.1-12.6,13.25,13.25,0,0,1,13-13.47,10.7,10.7,0,0,1,6.7,2.23c0-1.22-.14-6.05-.29-9.14-7.49.14-30.24.93-33.19,1.08l-.15-4.75,16.42-.44Zm1.37,25.27c0-2.81,0-9.36-7.35-9.36-5,.07-8.49,3.89-8.57,9.15a8.06,8.06,0,0,0,8,8.35C1073.84,459.38,1076.65,455.42,1076.65,451.24Z" transform="translate(-611.74 -414.09)"/><path d="M1173.49,439.87a107.57,107.57,0,0,1-21.75,4.46c2.24,3.89,6.63,9.29,11.88,11.3l-2.87,4.11c-1-.51-2.89-1.37-4.18-2.16a30,30,0,0,0-8.5-1.08c-1,0-2,.07-3,.14l-1-4a49.14,49.14,0,0,1,8.07.29,36,36,0,0,1-5.69-8.14,180.48,180.48,0,0,1-19.3.72c-3.53,0-7.49,0-10.73-.07l-.07-4.53c3.24.07,7.42.14,11,.14,5.9,0,11.73,0,17.57-.5-.8-2.24-2-6.34-2.81-9.58-2.88.29-6.12.43-9.08.43-3.88,0-8.85,0-12.24-.14v-4.47c4.32.22,9.08.22,12.17.22,2.59,0,5.55-.15,8.28-.36-.64-3.31-1.37-7.27-1.94-11.31l7.42.08c0,.86-.65,1.36-2,1.58.43,3.1.94,6.41,1.51,9.22a75.44,75.44,0,0,0,19.3-4.18l1.23,4.46c-5.26,1.95-12.39,3.32-19.59,4.11a84.92,84.92,0,0,0,2.74,9.43,103.55,103.55,0,0,0,22.46-4.75ZM1160.82,478c-4,.28-8.72.43-15.84.43-11.67-.07-20.74-3.82-20.6-11.95.07-4.25,3.82-8.79,8.5-11.38l3.24,3.31c-4.18,2.23-6.63,5.26-6.63,8,0,5.12,6.34,7.35,15.49,7.42,5.4,0,11.08-.29,16-.65Z" transform="translate(-611.74 -414.09)"/><path d="M1200.05,419.42c-.21.79-.93,1.22-2.37,1.15a172.65,172.65,0,0,0-3.82,32.4c0,5.4.22,10.87.94,14.26,1.37-3.53,4.46-11.09,5.47-13.61l3,3.17c-3,7.27-5.11,11.37-6.12,14.61a12.38,12.38,0,0,0-.57,3.39A7.49,7.49,0,0,0,1197,477l-5.12.94c-2.3-6.84-3.16-15.2-3.16-24.77s1.51-22.61,3.81-35.07Zm45.87,52.63c-2.59.15-5.25.22-7.92.22a99.75,99.75,0,0,1-13.39-.79c-8.86-1.3-13-6.2-13-12,0-5,2.73-9.14,6.77-13.89l4.68,2c-3.6,3.75-6.12,7.2-6.12,11.31,0,8.35,12.24,8.35,19.73,8.35,3,0,6.26-.14,9.28-.36Zm-33.34-44a235.21,235.21,0,0,0,31.4-2.74l.43,5c-8.93,1.51-23.4,2.45-31.68,2.66Z" transform="translate(-611.74 -414.09)"/><path d="M1283.58,416.18a2.36,2.36,0,0,1-2.24,1.22c-.5,3.17-1.15,6.91-1.8,9.72a99.19,99.19,0,0,0,21.17-3.53l.79,4.9a144.48,144.48,0,0,1-22.89,3.45c-3.46,13.83-8.21,25.06-15.27,35.43l-4.82-1.94a95.94,95.94,0,0,0,14.61-33.34H1258.8v-4.68h8.57c2.24,0,4.54-.07,6.63-.07a119.28,119.28,0,0,0,2-12.17Zm19.15,30.67c.07,5.83.5,9.79.94,14.76A73.9,73.9,0,0,1,1319,470l-2.59,4.61a68.57,68.57,0,0,0-12.74-7.56c0,7.2-2.89,12.82-13.47,12.82-8,0-14.11-3.6-14-10.37,0-7.2,7.56-10.66,14.18-10.66a30.87,30.87,0,0,1,8.14,1.3c-.29-4.61-.65-9.29-.65-12.67Zm-4,18a24.07,24.07,0,0,0-8.57-1.65c-4.32,0-9.43,1.72-9.51,6.19,0,4.1,4,6.05,9.65,6.05,5.19,0,8.5-2.52,8.5-7.28C1298.84,467,1298.84,465.93,1298.77,464.85Zm19.73-25.42A103.08,103.08,0,0,0,1293,443l-.79-4.53a100.4,100.4,0,0,1,26-3.89Z" transform="translate(-611.74 -414.09)"/><path d="M1352.19,445.7a43.62,43.62,0,0,1,17.86-4.18c11.45,0,18.65,6.7,18.65,17.28,0,13-11.45,20.24-25.92,20.24-9.36,0-15.77-3.75-15.77-10.08,0-5.33,5.25-9.65,11.81-9.65,8.13,0,13.6,6.48,14.68,13,5.76-2.16,9.94-6.77,9.94-13.46,0-7.78-5.76-12.75-14.83-12.75-10.8,0-21.39,4.82-26.14,9.43-2.16,2-5,5-6.91,7.28l-3.68-3.68c6.49-6.77,27.08-26.42,36.87-35.57-4.17.58-18.58,1.15-26.78,1.44a2.37,2.37,0,0,1-1.52,1.08l-.57-6.12c9.72-.07,28.3-.79,33.55-1.58l1.08-.51,3.82,4.68a3.45,3.45,0,0,1-1.73.65c-5.11,4.18-18.79,17-24.41,22.4Zm9.94,28.8a31.59,31.59,0,0,0,6.55-.72c-.79-5.54-4.9-10.22-10.22-10.22-3.75,0-7.06,2-7.06,5.32C1351.4,473.28,1357.38,474.5,1362.13,474.5Z" transform="translate(-611.74 -414.09)"/><path d="M1419.8,470.9a10.08,10.08,0,1,1-10.08-10.08A10.11,10.11,0,0,1,1419.8,470.9Zm-2.59,0a7.46,7.46,0,1,0-7.49,7.42A7.44,7.44,0,0,0,1417.21,470.9Z" transform="translate(-611.74 -414.09)"/></svg>
	</div>

	<!--ハンバーガーメニュー--!>
		<div class = "openbtn"><div class = "openbtn-area"><span></span><span></span><span></span></div></div>

	<div id = "area"></div>

	<footer id = "footer">
	
	<p  class = "js-scroll scroll-top  scroll-view">
		<a href = "#area">Scroll</a>
	</p>
	<p class = "js-pagetop scroll-top">
		<a href = "#">Page Top</a>
	</p>

	<small>&copy; copyright.</small>
	
	</footer>


	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js"></script>
    	<script type = "text/javascript" src = "/javascripts/index.js"></script>
  </body>
</html>
