body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*ハンバーガーメニュー*/
.openbtn {
	position: relative;
	background: #EC6015;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn .openbtn-area {
	transition: all .6s;
	width: 50px;
	height: 50px;
}

.openbtn span {
	display: inline-block;
	transition: all .4s;
	position: absolute;
	left: 14px;
	height: 3px;
	border-radius: 2px;
	background: #fff;
	width: 45%;
}

.openbtn span:nth-of-type(1) {
	top: 15px;
}

.openbtn span:nth-of-type(2) {
	top: 23px;
}

.openbtn span:nth-of-type(3) {
	top: 31px;
}

.openbtn.active .openbtn-area {
	transform: rotate(360deg);
}

.openbtn.active span:nth-of-type(1) {
	top: 18px;
	left: 18px;
	transform: translateY(6px) rotate(-45deg);
	width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
	top: 30px;
	left: 18px;
	transform: translateY(-6px) rotate(45deg);
	width: 30%;
}

.galley {
	columns: 4;
	padding: 0 15px;
	margin: 0;
}

.gallery li {
	margin-bottom: 15px;
	list-style: none;
}

.gallery img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 900px) {
	.gallery {
		columns: 3;
	}
}

@media only screen and (max-width: 768px) {
	.gallery {
		columns: 2;
	}
}
